In [1]:
import pandas as pd

In [13]:
df = pd.read_csv("test.csv")
df2 = pd.read_csv("allscandetections.csv")

C:\Users\ivarshney\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (0,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.minor.unique()

array([116, 375, '375', '116', 'minor'], dtype=object)

In [7]:
df[df.minor == 'minor']

        major  uuid  tx  time  agentId  minor
845001  major  uuid  tx  time  agentId  minor

In [12]:
pd.to_numeric(df.minor, errors='coerce').unique()

array([ 116.,  375.,   nan])

In [14]:
df2.head()

   Unnamed: 0  stickerID            timeStamp     person   badge  minor
0           0        164  2016-11-28 10:07:36  aliasgher  connor    165
1           1         57  2016-11-28 10:07:33  aliasgher  connor    165
2           2         56  2016-11-28 10:07:30  aliasgher  connor    165
3           3         55  2016-11-28 10:07:27  aliasgher  connor    165
4           4         54  2016-11-28 10:07:24  aliasgher  connor    165